body {
	color: #fff;
    background: #000;
    font-family: arial, helvetica, sans-serif;
    font-size: 100%;
}

/* Layout */
.wrapper {
	margin: 0 auto;
	width: 600px;
}
header {
	margin: 0 auto;
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 3em;
}
	header h1 {
		position: absolute;
		left: -999em;
	}
	#caught {
		float: left;
	}
	#timer {
		float: right;
	}
.content {
	position: relative;
	margin: 0 auto 1em;
    width: 600px;
    height: 400px;
    clear: both;
    border: 2px solid #fff;
}
.content:before,
.content:after {
	content: '';
	position: absolute;
	left: 40px;
	height: 400px;
	border-left: 2px dashed #fff;
}
.content:after {
	left: auto;
	right: 40px;
}

footer {
	text-transform: uppercase;
	font-size: 75%;
}
	footer h2 {
		margin-top: 0;
	}
	footer p {
		margin: 0;
	}
	footer .directions {
		float: left;
	}
	footer .options {
		float: right;
	}

/* Game Objects */
.car,
.monster,
.grave {
	position: absolute;
	background: url(images/sprite.png) 0 0 no-repeat;
}
.car {
	width: 24px;
	height: 32px;
}
.monster {
	width: 15px;
	height: 24px;
	background-position: 0 -40px;
}
.grave {
	width: 15px;
	height: 24px;
	background-position: 0 -70px;
}